<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>trophus</title>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvFI2YD6EH3YePpYr5OmJt_gfNBTDjSYk"></script>
    <script src="https://js.stripe.com/v2/"></script>
    <script>
      Stripe.setPublishableKey("pk_test_k90DPHCGKmfYhYa5anVRrVKy");
    </script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>




  </head>

<style>

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
</style>

  <body>
    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">trophus</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li>
<!--         <span class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." style="width: 80%; border-radius: 20px 20px 20px 20px">
    </span> -->

            </li>
                                      <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
              <li><a href="/profile">Profile</a></li>
              <%= if current_user(@conn) do %> 
                <li><a href="/explore">Explore</a></li>
              <%= end %>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Actions<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <%= if current_user(@conn) do %> 
                    <li><a href="/users/<%= current_user(@conn).id %>/dishes/new">Add Dish</a></li>
                    <li><a href="/users/<%= current_user(@conn).id %>/dishes">See Your Dishes</a></li>
                  <% end %>
                  <li><a href="#">Invite Friends</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Special settings</li>
                  <li><a href="#">Get perks</a></li>
                  <li><a href="#">API</a></li>
                </ul>

              </li>

<li>   

    </li><!-- /input-group -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <%= if logged_in?(@conn) do %>
<!--                 <li id="email_navbar"><%=  current_user(@conn).email %></li> -->
                <li style="position: relative; right: 0px"><a href="/logout">Logout</a></li>
              <% else %>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->

      </nav>

      <!-- Main component for a primary marketing message or call to action -->

      
      <p class="alert alert-info"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

    </div> <!-- /container -->




    <script>
(function( $ ) {
  var requests = {};
  var zipValid = {
    us: /[0-9]{5}(-[0-9]{4})?/
  };

  $.ziptastic = function(country, zip, callback){
    // If only zip and callback are given default to US
    if (arguments.length == 2 && typeof arguments[1] == 'function') {
      callback = arguments[1];
      zip = arguments[0];
      country = 'US';
    }

    country = country.toUpperCase();
    // Only make unique requests
    if(!requests[country]) {
      requests[country] = {};
    }
    if(!requests[country][zip]) {
      requests[country][zip] = $.getJSON('https://zip.getziptastic.com/v2/' + country + '/' + zip);
    }

    // Bind to the finished request
    requests[country][zip].done(function(data) {
      if (typeof callback == 'function') {
        callback(data.country, data.state, data.state_short, data.city, zip);
      }
    });

    // Allow for binding to the deferred object
    return requests[country][zip];
  };

  $.fn.ziptastic = function( options ) {
    return this.each(function() {
      var ele = $(this);

      ele.on('keyup', function() {
        var zip = ele.val();

        // TODO Non-US zip codes?
        if(zipValid.us.test(zip)) {
          $.ziptastic(zip, function(country, state, state_short, city) {
            // Trigger the updated information
            ele.trigger('zipChange', [country, state, state_short, city, zip]);
          });
        }
      });
    });
  };
})( jQuery );
</script>

      <script>
      $('#special').on('change', function(data) {
          var value = $('#special').val();
          console.log(value);
          var arr = value.split(", ");
          var city = arr[0];
          var state = arr[1];
          $("#user_address_city").val(city);
          $("#user_address_state").val(state);
      });

      // console.log("Hello");
      $('#registration_address_zip').ziptastic().on('zipChange', function(evt, country, state, state_short, city, zip) {
        console.log(city + ", " + state_short);
        if (city !== undefined && state_short !== undefined) {
          $("#special").val(city + ", " + state_short);
          $("#registration_address_state").val(state_short);
          $("#registration_address_city").val(city);
           
        }
        else {
          if ($('#registration_address_zip').val().length !== 0)  {
            $("#special").val("Zip code not found.");
          }
        }
      });

      function runner() {
          line_a = $("#registration_address_line_1").val();
          var home = line_a + ", " + $("#registration_address_city").val() + " " + $("#registration_address_state").val() + " " + $("#registration_address_zip").val();
          $("#registration_home").val(home);
          console.log(home);     
      }

<%= if current_user(@conn) do %>
      function render_instagram() {
  $.ajax({
    type: "POST",
    url: "/get_instagram_images",
    beforeSend: function(xhr) {
      xhr.setRequestHeader('x-csrf-token', '<%= get_csrf_token() %>')
    },
    data: {
      user_id: "<%= current_user(@conn).id %>"
    },
    success: function(data) {
      console.log(data['images']);
      for (var i = data['images'].length-1; i >= 0; i--) {
        $('#instagram_modal').append("<img src='"+data['images'][i]+"' height='150px'>")
      }
    }
  });
}
<% end %>
      </script>


  </body>

</html>

