[{sasl,[{errlog_type,error}]},
 {trophus,
     [{'Elixir.Trophus.Endpoint',
          [{url,[{host,<<"https://www.trophus.com">>}]},
           {root,<<"/Users/arthur/Code/elixir/web_apps/trophus">>},
           {secret_key_base,nil},
           {debug_errors,true},
           {pubsub,
               [{name,'Elixir.Trophus.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,{system,<<"PORT">>}}]},
           {cache_static_manifest,<<"priv/static/manifest.json">>}]},
      {'Elixir.Trophus.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"arthur">>},
           {password,<<"cfill0u0pp">>},
           {database,<<"trophus_dev">>},
           {pool_size,20}]}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {passport,[{repo,'Elixir.Trophus.Repo'},{user_class,'Elixir.Trophus.User'}]}].
