/*#email_navbar {
	font-size: small; 
	top: -25px; 
	right: -80px;
	color: #222;
	font-family: Circular;
}*/

html, body {
/*	background-color: #b2dfdb ;*/
	font-family: Circular;
}

.panel {
  margin-bottom: 0px;
}