/*#email_navbar {
	font-size: small; 
	top: -25px; 
	right: -80px;
	color: #222;
	font-family: Circular;
}*/

html, body {
/*	background-color: #b2dfdb ;*/
	font-family: Circular;
/*	background-color: #80cbc4;*/
}

.panel {
  margin-bottom: 0px;
}


/* Customize container */
@media (min-width: 768px) {
  /* line 45, stdin */
  .container {
    max-width: 820px; } }