    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>

<script>
hash = function(str) {
  if (str.indexOf(".") == -1) {
    alert("No file extension on file. Upload cancelled.");
    return false;
  }
  else {
    var filename = str.substring(0,str.lastIndexOf("."));
    str.substring(str.lastIndexOf("."), str.length);

    var self = filename, range = Array(filename.length);
    for(var i = 0; i < self.length; i++) {
      range[i] = i;
    }
    return Array.prototype.map.call(range, function(i) {
      return self.charCodeAt(i).toString(16);
    }).join('').concat(Date.now().toString()).concat(str.substring(str.lastIndexOf("."), str.length));        
  }
}

$(function() {
    $('input[name="file"]').change(function(){
       var filename = $(this).val().split("C:\\fakepath\\")[1];
       console.log(filename);
       var fn2 = hash(filename);
       // $('<label>Filename selected: '+ hash(filename) +'</label>').insertAfter($(this));
       $('input[name="key"]').val(fn2);
       link_url = "https://s3-us-west-2.amazonaws.com/colle-browser/" + fn2;
       console.log( $('input[name="key"]').val());
       $("#amazon").submit();
       $("#dish_pic_url").val("https://s3-us-west-2.amazonaws.com/colle-browser/"+fn2);
    });
})
</script>

          <form id="amazon" action="http://colle-browser.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="key" value="picbum/${filename}">
            <input type="hidden" name="AWSAccessKeyId" value="AKIAJEKX2XTWW2DW2BKA"> 
            <input type="hidden" name="acl" value="public-read"> 
            <!-- Fill these HTML fields with data generated from python script -->
            <input type="hidden" name="policy" value='ewogICJleHBpcmF0aW9uIjogIjIwMTctMDEtMDFUMDA6MDA6MDAuMDBaIiwKICAiY29uZGl0aW9ucyI6IFsKICAgIHsiYnVja2V0IjogImNvbGxlLWJyb3dzZXIiIH0sCiAgICBbInN0YXJ0cy13aXRoIiwgIiRrZXkiLCAiIl0sCiAgICB7ImFjbCI6ICJwdWJsaWMtcmVhZCIgfSwKICAgIFsic3RhcnRzLXdpdGgiLCAiJENvbnRlbnQtVHlwZSIsICJDT05URU5UX1RZUEUiXSwKICAgIFsiY29udGVudC1sZW5ndGgtcmFuZ2UiLCAwLCAxMDQ4NTc2XSwKICBdCn0='>
            <input type="hidden" name="signature" value="oi2fV0Hkjd1fUGbpeAKs+gyvRVk=">
            <input type="hidden" name="Content-Type" value="CONTENT_TYPE">
            <!-- Include any additional input fields here -->

            File to upload to S3: 
            <input name="file" type="file" title=" "> </br>
            
        </form> 

<%= form_for @changeset, @action, fn f -> %>
  <%= if f.errors != [] do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below:</p>
      <ul>
        <%= for {attr, message} <- f.errors do %>
          <li><%= humanize(attr) %> <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <label>Name</label>
    <%= text_input f, :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Description</label>
    <%= text_input f, :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Price</label>
    <%= number_input f, :price, class: "form-control" %>
  </div>

          <%= hidden_input(:dish, :pic_url) %>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>



<% end %>
