<h2>New dish</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_dish_path(@conn, :create, @user) %>

<%= link "Back", to: user_dish_path(@conn, :index, @user) %>