<h2>Show dish</h2>

<ul>
<style>
li {
  list-style-type: none;
}
</style>
  <li>
    <strong>Name:</strong>
    <%= @dish.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @dish.description %>
  </li>

  <li>
    <strong>Price:</strong>
    <%= @dish.price %>
  </li>

  <li>
    <img height="400px" src=<%= @dish.pic_url %> style="border-radius: 20px 20px 20px 20px">
  </li>

</ul>

<%= link "Back", to: user_dish_path(@conn, :index, @dish) %>